<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KOFIC_BOXOFFICE_API_KEY</key>
	<string>$(KOFIC_BOXOFFICE_API_KEY)</string>
	<key>TMDB_MOVIE_INFO_API_KEY</key>
	<string>$(TMDB_MOVIE_INFO_API_KEY)</string>
</dict>
</plist>
